

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}
.nav-link{
  margin-left: 40px;
}
a{
  text-decoration: none;
}
/* Home Page */
.Items div{
   opacity:0.6;
}
.Items div:hover{
  opacity: 1;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}
#supportHero a{
  color: white;
}
#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
